<%- include('partials/header') %>

<div class="bg-black h-full">
  <div
    class="w-full max-w-[400px] mx-auto min-h-screen bg-black text-white"
  >
    <div class="ml-1 px-0  scroll-px-0 flex items-center justify-between">
      <img class="w-1/4" src="/images/logo.png" alt="" />
    </div>

    <hr class="opacity-30" />

    <div class="posts mb-14">
      <% posts.reverse().forEach(function(elem){ %>

      <div class="post py-4 w-full min-h-[50vh]">
        <!-- Post Title -->
        <div class="flex justify-between items-center px-3">
          <div class="title flex items-center gap-2">
            <div class="w-9 h-9 bg-sky-100 rounded-full overflow-hidden">
              <a href="/userprofile/<%= elem.user.username %>">
                <img
                  class="w-full min-h-full min-w-full h-full bg-white object-cover"
                  src="/images/uploads/<%= elem.user.profileImage %>"
                  alt="<%= elem.user.username %>'s profile image"
                />
              </a>
            </div>
            <h4 class="text-sm">
              <a href="/userprofile/<%= elem.user.username %>"
                ><%= elem.user.name %></a
              >
            </h4>
          </div>

          <!-- Show delete icon if current user is the owner of the post -->
          <% if (elem.user._id.toString() === user._id.toString()) { %>
 
            <a
              href="javascript:void(0)"
              onclick="deletePost('<%= elem._id %>')"
            >
            <i class="text-lg hover:text-red-500 ri-delete-bin-6-line"></i>
          <% } %>
        </div>
        <!-- Post Image -->
        <div class="w-full h-full mt-4 bg-sky-100 overflow-hidden">
          <img
            class="h-full w-full object-cover"
            src="/images/uploads/<%= elem.picture %>"
            alt="Post Image"
          />
        </div>

        <!-- Like, Caption, Time, etc. -->
        <div
          class="options w-full flex justify-start items-center text-[1.4rem]"
        >
          <div class="flex gap-3 mt-2">
            <a href="/like/post/<%= elem._id %>">
              <% if(elem.likes.indexOf(user._id) !==-1){ %>
              <i class="ri-heart-3-fill text-red-600"></i>
              <% } else { %>
              <i class="ri-heart-3-line"></i>
              <% } %>
            </a>
          </div>
        </div>

        <h3 class="px-4 mt-2 text-sm leading-none tracking-tight">
          <%= elem.likes.length %> Likes
        </h3>

        <h2 class="text-white italic font-light text-sm mt-2">
          <span class="font-bold not-italic text-red-400 pl-3 pr-1">
            <%= elem.user.username %>
          </span>
          <span><%= elem.caption %></span>
        </h2>

        <h3 class="px-3 flex gap-2 justify-start items-center text-[10px] italic text-gray-400">
          
         <p> <% if(elem.date.getHours() < 12 ){%>
          <%= elem.date.getHours() %>
          <%}else{%>
            <%= elem.date.getHours()-12 %>
          <%}%>

        :<%= elem.date.getMinutes() %>

         <% if(elem.date.getHours() < 12 ){%>
          AM
          <%}else{%>
        PM
          <%}%></p>
          <p>
        <%=
        elem.date.getDate() %>/<%= elem.date.getUTCMonth()+1 %>/<%=
        elem.date.getFullYear() %></p>
        </h3>
      </div>

      <% }) %>
      <hr class="text-red-400 opacity-30 my-1" />
      <p
        class="text-xs text-white opacity-30 italic items-center px-1 text-center"
      >
        &copy; 2024 , Anser Ahmed. All rights reserved
      </p>
    </div>
  </div>

  <%- include('partials/footer') %>
</div>
